body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff00;
    height: 100vh;
    margin: 0 auto;
}


.header {
    width: 100%;
    height: 5rem;
    background-color: grey;
}

.content {
    display: flex;
    flex-grow: 1;
    height: 100%;
    align-items: center;


}

.main-content {
    display: flex;
    height: 98%;
    width: 100%;
}


.left {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    background-color: #c8c8c8;
}

.left #a {
    flex-grow: 1;
    background-color: red;



}

.left #b {
    flex-grow: 1;
    background-color: orange;


}

#c {
    background-color: yellow;
    flex-grow: 1;
}

.footer {
    width: 100%;
    height: 5rem;
    background-color: grey;
}

@media screen and (max-width: 700px) {

    .main-content {
        flex-direction: column;

    }

    .left {
        flex-grow: 2;
    }

    #c {
        background-color: rgb(216, 216, 0);
        flex-grow: 1;


    }

}