body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff00;
    height: 100vh;
    margin: 0 auto;
}


.header {
    width: 100%;
    height: 5rem;
    background-color: grey;
}

.content {
    display: flex;
    flex-grow: 1;
    height: 100%;
    align-items: center;


}

.main-content {
    display: flex;
    flex-direction: row;
    height: 98%;
    width: 100%;
}



.content-a {
    flex-grow: 2;
    background-color: rgba(111, 189, 8, 0.789);
    order: 1;

}

.content-b {
    background-color: rgb(48, 137, 81);
    flex-grow: 1;
    order: 0;

}

.content-c {
    background-color: rgb(246, 246, 27);
    flex-grow: 1;
    order: 2;


}

.footer {
    width: 100%;
    height: 5rem;
    background-color: grey;
}

@media screen and (max-width: 700px) {
    .main-content {
        display: flex;
        /* align-items: flex-start; */
        /* align-content: flex-start; */
        flex-wrap: wrap;
        height: 98%;
        width: 100%;
    }

    .content-a {

        width: 100%;
        height: 60%;
        order: -1;

    }

    .content-b {
        height: 40%
    }

    .content-c {
        height: 40%
    }
}